.left-column {

float: left;
padding: 25px;
}

.right-column {

  float: right;
  padding: 25px;
}

.title {
  text-align: center;

}

.sidebar {
  float: right;
  background-color: yellow;
  margin-bottom: 25px;
  height: inherit;
  padding-bottom: -15px


}
