.left-column {

float: left;
padding: 25px;
}

.right-column {

  float: right;
  padding: 25px;
}

.title {
  text-align: center;

}

.sidebar {
  float: right;
  background-color: yellow;
  margin: 5px;
  height: inherit;
  padding: 10px;
  border: dotted pink 5px;

}

.clickhere {
  text-align: center;
}
